---
---

<div>
  <p>
    Here are a few reasons why you might want to follow this blog:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Full tutorials.</strong> I share all the code and screenshots for you to adapt the code and use it in your projects.
      
    </li>
    <li>
      <strong>All the steps.</strong> I cover all the neccesaary steps to get work done. From zero to hero the say.
      
    </li>
    <li>
      <strong>Open source.</strong> The code for this blog is open source and available on <a href="https://github.com/pfernandez98/ap-tutorials">GitHub</a>.
    </li>
    <li>
      <strong>You are cool.</strong> You are cool and you want to learn new things.
    <li>
      <strong>Dark mode.</strong> We developers love dark mode. This blog has it.
    </li>
    <li>
      <strong>Responsive.</strong> Responsive and loads fast in all devices.
    </li>
    <li>
      <strong>Accessible.</strong> A well thought out semantic and accessible
      content.
    </li>
    <li>
      <strong>RSS feed</strong>. You can subscribe to the blog <a href="rss.xml">via RSS</a>.
    </li>
  </ul>
</div>
